<!DOCTYPE html>
<html>
    <head>
        <title>식도락</title>
    </head>
    <body id="index">
    <%= render partial: "header" %>
        <div id="contents">
            <ol>
            <h2 class="chapter-title"><li>
            <%= link_to "Intro", root_path, class: "chapter-link" %></li></h2>
            <p> 여행을 갈때 고려해야 할 것들은 <strong>교통, 숙소, 음식, 문화, 관광</strong>등 매우매우 많지만 개인적으로 가장 기억에 남는것은 음식이라고 생각한다. 또한, 
            <%= link_to "미슐랭가이드", "https://guide.michelin.com/kr/ko", :class=>"text-decoration-none" %> 3Star의 정의는 <em>요리가 매우 훌륭하여 맛을 보기 위해 특별한 여행을 떠날 가치가 있는 식당</em> 이라고 한다. 지금까지의 여행지(or 거주지)중에 기억할만한 혹은 추천할만한 음식과 식당들을 기록해놓기 위해 주제를 선정하였다. 게다가 과제를 위해 합법적으로 추억여행을 하며 학기를 보낼 힘을 얻는다니 일석이조가 아닐까! </p>
            <h2 class="chapter-title"><li><%= link_to "식도락을 위한 도시들", article_city_path,  class: "chapter-link" %></li></h2>
            <h2 class="chapter-title"><li><%= link_to "맛집 목록", article_restaurant_path,  class: "chapter-link" %></li></h2>
            </ol>
        </div>
    </body>